/*ブラウザcssリセット*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 960px;
  margin: 50px auto;
}

.main-list {
  margin-bottom: 50px;
}

.item {
  list-style: none;
  padding: 20px 0 20px 20px;
  color: #808080;
}

.item:nth-child(odd) {
  background-color: #f5f5f5;
}

.main-contents {
  display: flex;
  flex-wrap: wrap; /*折り返し*/
}

.contents-box {
  width: 30%;
  height: 200px;
  margin-bottom: 40px;
  margin-right: 5%;
}

.contents-box:nth-child(1) {
  background-color: #ff8c00;
}

.contents-box:nth-child(2) {
  background-color: #ffff00;
}

.contents-box:nth-child(3) {
  background-color: #ffff00;
  margin-right: 0;
}

.contents-box:nth-child(4) {
  background-color: #ffff00;
}

.contents-box:nth-child(5) {
  background-color: #ff8c00;
}

.contents-box:nth-child(6) {
  background-color: #ffff00;
  margin-right: 0;
}

.contents-box:nth-child(7) {
  background-color: #ffff00;
}

.contents-box:nth-child(8) {
  background-color: #ffff00;
}

.contents-box:nth-child(9) {
  background-color: #ff8c00;
  margin-right: 0;
  margin-bottom: 0;
}